@page "/"

   
<div class="text-center">
    <img style="animation-fill-mode" src="https://cdn.discordapp.com/attachments/634284593620713475/656170301876469810/unknown.png" width="200px" />
    <hr /><h1>Welcome.</h1>
</div>

